

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    position: absolute;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 166, 0);
    height: 70px;

}
nav img {
    width: 10%;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8px;
}

ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    position: sticky;
    bottom: 0px;
}

ul a:hover{
    color: #450552;
}

.bienvenido{
    background-image: url( "../img/fluorcumple.webp");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 70px) ;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bienvenido h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 8vw;
    color: rgb(255, 255, 255);
    animation-duration: 2s;
    text-shadow: #ffb132 0em 0em 20px;
    letter-spacing: 5px;
}
    
/*INDEX*/
#padreHome {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 30% 30%;
    grid-template-areas:"titulo titulo"
                        "video img"
                        "video parrafo";
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    height: 690px;
    align-items: center;
    justify-items: center;
    background-color: rgb(255, 166, 0);
    width: 100vw;
    max-width: 100%;
    justify-content: center;
}

#titulo{
    grid-area: titulo;
    position: relative;
    bottom: 10px;
    font-size: 80%;
}

#video{
    grid-area: video;
    width: 50rem;
    min-width: min-content;

}

#imgHome{
    grid-area: img;
    width: 80%;
    min-width: min-content;
    height: 60%;
    position: relative;
    align-items: center;
}

.parrafoHome{
    grid-area: parrafo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 80%;    
    position: relative;
    top: 130px;

}



/* FOOTER */


footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(23, 5, 41);
    height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    text-align: center;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-around;
}

footer img{
    height: 20px;
    background-color: rgb(23, 5, 41);
    
}



/* EQUIPO */

#imgEquipo{
            height: 90vh;
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 0.9rem;
            text-align: center;
            color: rgb(0, 0, 0);
            align-items: center;
            justify-self: center;

}
.imagenEquipo img {
    width: 20vw;
    padding-top:  5%;
}
.imagenEquipo :hover{
                        transform: rotateY(360deg);
                        transition: all 5s;

}                    

#imgEquipo p{
                width: 50%;
                position: relative;
                padding-top:  5%;
                left: 25%;  
}            

/*COMBOS*/
.combo{
height: 1400px;
}
div .promo {
    background-color: aqua;
    height: 3rem;
}

.promo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    animation-duration: infinite;
    text-align: center;
}
    

#padreCombo{
    background-color: rgb(58, 11, 102);
    display: grid;
    height: 1100px;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1% 33% 33%;
    grid-template-areas:"combo combo combo"
                        "combo1 combo2 combo3"
                        "combo4 combo5 combo6";
                        grid-row-gap:10%;
    justify-items: center;
}

.card{
    background-color: orange;
    border-radius: 10px;
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;    
    height: fit-content;
    
}

.card:hover{
    font-size: 0.8rem;
    transform: scale(1.01, 1.01);    
}

.card button{
    margin-top: 10%;
}

.card button :hover{
    transform: rotate(30deg);
}

.card img{
    height: 151.8px;
}

#spaNenas{
    grid-area: combo1;
    width: 100%;
    
}

#fiestaFluor{
    grid-area: combo2;
    width: 100%;
}

#cumpleArte{
    grid-area: combo3;
    width: 100%;    
}
#spa{
    grid-area: combo4;
    width: 100%;
    margin-top: 10%;

}

#fiesta{
    grid-area: combo5;
    width: 100%;
    margin-top: 10%;
}

#arte{
    grid-area: combo6;
    width: 100%;    
    margin-top: 10%;
}


h2{
    padding: 100px 0px 30px 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    color: black;
}

.promo{
    width: 100%;
    height: 8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    animation-name: colores;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-align: center;
    background-color: #450552;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@keyframes colores{
    0%{
        background-color: rgb(230, 90, 25) ;
    }
    
    25%{
        background-color: rgb(0, 195, 255)
    }

    50%{
        background-color: rgb(250, 179, 0)
    }
    75%{
        background-color: rgb(138, 27, 97)
    }
    100%{
        background-color: rgb(255, 0, 0);
    }
}

/*GALERIA*/
.galeria{
    height: 130vh;
}
.imagenesGaleria{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 300px 300px;
    column-gap: 2%;
    row-gap: 5%;
    justify-content: space-around;
    align-content: center;
    padding:  0 150px 0 150px;
}

.imagenesGaleria img{
    width: fit-content;
    height: 100%;
    transition: all 1s;
}

.imagenesGaleria img:hover{
    transform: scale(1.07,1.07);
}



/*CONTACTO*/

iframe{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 40px;
    padding-left: 30px; 
    align-items: center;
}
main h3{
    padding: 20% 0% 5% 0%;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%; 
    height: auto;
    margin: 80px auto;
    padding-top: 50px;
    padding-bottom: 50px;  
    background-color:rgb(253, 139, 0); 
    padding-left: 30px; 
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

input{
    background-color: rgb(255, 255, 255) ; 
    width: 60%; 
    height: 30px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #450552; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 5px;
}

textarea{
    background-color: rgb(255, 255, 255) ; 
    width: 60%; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #450552; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 5px;
} 
button{
    background-color: rgb(255, 255, 255) ; 
    width: 70px; 
    height: 30px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #450552; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 5px;
}

.botonContacto:hover{
    background-color: #450552;
    color: aliceblue;
}

@media only screen and (max-width:600px){
    .imagenesGaleria{

        grid-template-columns: 100%;
        grid-template-rows: 30rem 30rem 30rem 30rem 30rem 30rem;
        height: 600vh;
    }
    nav{
        height: 30vh;
    }

    nav ul{
        height: 180px;
    }
    nav img{
        width: 30%;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    ul{
        flex-direction: column;    
        justify-content: space-around;
        align-items: center;
    }
    nav ul a{
        font-size: 15px;
    }

    #padreHome {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 30% 30% 15%;
        grid-template-areas:"titulo"
                        "video"
                        "img"
                        "parrafo";
        justify-content: center;
        height: 800px;
    }
    .bienvenido{
        display: none;
    }
    #parrafoHome{
            text-align: center;
    
    }
    #video{
        overflow:auto;
    }
    
    #imgEquipo{
        height: 50rem;    
    
    }

    #padreCombo{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  0% 10% 10% 10% 10% 10% 10%;
        grid-template-areas:"combo"
                            "combo1"
                            "combo2"
                            "combo3"
                            "combo4"
                            "combo5"
                            "combo6";
        row-gap: 3.8%;
        height: 3000px;
    }
}